*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.grid-container{
    background-color: gray;
    display:grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 40px 30px 50px 60px;
    width:500px;
    height:500px;
   
    justify-content:start;
    justify-content:end;
    justify-content:center;
    justify-content:space-around;
    justify-content:space-evenly;
    justify-content:space-between;/*only latest property will apllied*/

    
    align-content:center;
    align-content: end;
    align-content:space-between;
    


}

.one{
   background-color: aliceblue;
}

.two{
    background-color:lightblue; 
}
.three{
    background-color:lightgoldenrodyellow; 
}
.four{
    background-color:coral; 
}
.five{
    background-color:lightgreen; 
}
.six{
    background-color: lightpink;
}
.seven{
    background-color: blueviolet;
}