*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.grid-container{
    background-color:lightgray;
    display:grid;
    grid-template-columns: 200px 300px;
    grid-template-rows:repeat(3,40px);
    row-gap:40px;
    column-gap:30px;
}

.one{
    background-color:lightcoral; 
}

.two{
    background-color:lightblue; 
}
.three{
    background-color:lightgoldenrodyellow; 
}
.four{
    background-color:coral; 
}
.five{
    background-color:lightgreen; 
}
.six{
    background-color: lightpink;
}